{% extends 'base.html' %}

{% block content %}

<h1>Log In!</h1>

<!-- if there is an error in the password check -->
{% if error %}
  <h4>{{ error }}</h4>
{% endif %}

<form class="" action="{% url 'accounts:login' %}" method="POST">
  {% csrf_token %}

  {% if request.GET.next %}
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% endif %}

  <label for="">User Name</label>
  <input type="text" name="username" value="">
  <br>

  <label for="">Password</label>
  <input type="password" name="password" value="">
  <br>

  <button type="submit" name="button" value="Sign up!"></button>

</form>

{% endblock %}
